.nav-element{
    display: flex;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    margin: 5px 30px;
    background-color: black;
}

.navbar-icon{
    font-size: 24px;
}

.nav-element:hover {
    background-color: #1e1e1e;
    cursor: pointer;
}

