.tweet {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #38444d;
  }
  
  .tweet-avatar img {
    border-radius: 50%;
  }
  
  .tweet-content {
    margin-left: 10px;
    flex: 1;
  }
  
  .tweet-header {
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #8899a6;
  }
  
  .tweet-text {
    margin: 10px 0;
    color: white;
  }
  
  .tweet-actions {
    display: flex;
    justify-content: space-around;
    color: #8899a6;
    cursor: pointer;
  }
  
  .tweet-actions i:hover {
    color: #1d9bf0;
  }
  
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }