.widgets {
    background-color: #15202b;
    color: white;
    width: 25%;
    min-width: 250px;
    padding: 15px;
  }
  
  .widget-item {
    margin: 10px 0;
    font-size: 16px;
    color: #8899a6;
  }
  
  @media (max-width: 768px) {
    .widgets {
      width: 100%;
    }
  }
  